<div class = "panel panel-default">
    <div class = "panel-heading">
        {{ categories_string }}
    </div>
    <div class="panel-body">
        <div class = "list-group">
            {% for category in categories %}
                <a class="list-group-item" href="{{ path('silent_daily_pics_core_category', {slug: category.slug}) }}">{{ category.name }} ({{ category.imageCount }})</a>
            {% endfor %}
        </div>
    </div>
</div>