<div class = "panel panel-default">
    <div class = "panel-heading">
        <a target="_blank" href="{{ site_facebook_page }}">Facebook</a>
    </div>
    <div class = "panel-body">
        <iframe src="//www.facebook.com/plugins/likebox.php?href={{ site_facebook_page|url_encode}}&amp;height=200&amp;colorscheme=dark&amp;show_faces=true&amp;header=false&amp;show_border=false" class="facebook-big-like"></iframe>
    </div>
</div>