.facebook-like
{
    background-color: transparent;
    border:none;
    overflow:hidden;
    height:20px;
    overflow:hidden;
    width: 120px;
    border-width:0px;
}

.facebook-big-like
{
    border-width:0px;
    overflow:hidden;
    height:200px;
    width:100%
}
